#marginer{
    /* margin-left:40px;
    margin-top:40px; */
}
#formhead{
    font-weight:700;
    color:#00000080;
    margin-top:40px;
}
#formflexer{
    display: flex;
    flex-direction: column;
    margin-top:30px;
}
#mailimg2{
    width:20px;
    position:relative;
    top:-36px;
    left:10px;
}
#groupsdiv{
    display:none;
    position:absolute;
    background-color: #D6D7DC;
    width:45.43vw;
    top:265px;
    left:40px;
    padding:20px 0 20px 10px;
    z-index:2;
    font-weight:bold;
}
#formbtn10{
    background-color: rgba(83 , 109 , 254 , 0.9);
    border:none;
    color:white;
    font-weight: 600;
    width:200px;
    height:40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top:40px;
}
#textarea2{
    width:45.43vw;
    padding-top:20px;
    border:1px solid black;
    font-weight:500;
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:1px;
    border-radius:7px;
    height:50px;
    font-size: 1rem;
    font-weight: 600;
}