#sidebar{
    background-color: #536DFE30;
    width:25vw;
    height:100vh;
}
#dashboardimg2{
    width:48px;
    margin-top:-4px;
}
#mainhead{
    margin-top:42px;
    margin-left:20px;
    font-weight:700;
    color:#00000099;
}
#sideul{
    margin-left:-10px;
    margin-top: 40px;
}
#sideul a{
    color:#12121280;
    text-decoration:none;
}
#sideul li{
    margin-top:15px;
}
#sideoptions{
    font-weight: 600;
    padding-top:20px;
}
#groupimg{
    width:40px;
    margin-top:-5px;
    margin-right:10px;
}
#templateimg{
    width:40px;
    margin-top:-5px;
    margin-right:10px;
}
@media(max-width:782px){
    #dashboardimg2{
        width:34px;
    } 
    #mainhead{
      font-size:20px;
    }
    #groupimg{
       width:28px;
    }
    #templateimg{
        width:28px;
    }
}
@media(max-width:573px){
    #mainhead{
        margin-left:5px;
    }  
    #sideul{
        margin-left:-30px;
        margin-top: 20px;
    }
}
@media(max-width:720px){
    #sidebar{
       display: none;
    }  
}