#background{
    width:100vw;
    height:100vh;
    opacity: 0.03;
    position:fixed;
    z-index: -1;;
}
#profileimage{
    width:30vw;
    margin-top:100px;
    margin-left:50px;
}
#prohead{
    font-weight:700;
    color:#00000080;
    margin:80px 0 0 50px;
    height:80px;
}
#profiledetails{
    margin-left:50px;
}
#profilediv{
    margin:30px 5vw 0 3vw;
    display: flex;
    flex-direction: column;
}
#formbtn8{
    background-color: rgba(83 , 109 , 254 , 0);
    border:none;
    color: rgba(83 , 109 , 254 , 1);
    font-weight: 600;
    cursor: pointer;
    margin:10px 15px;
}
#flexer{
    margin-left:30px;
    margin-top:10px;
}
#create8A{
    width:20vw;
    margin-top:370px;
    margin-right:5vw;
}
@media(max-width:545px){
    #create8A{
        display:none;
    }
    #profilediv{
        margin:30px 3vw 0 0vw;
    }
}
@media(max-width:400px){
    #profilediv{
        margin:30px 2vw 0 -2vw;
    }
}
@media(max-width:360px){
    #profilediv{
        margin:30px 2vw 0 -4vw;
    }
}
@media(max-width:320px){
    #profilediv{
        margin:30px 2vw 0 -6vw;
    }
}



#pagehead21{
    font-weight:700;
    color:#00000080;
    margin:60px 6vw 0 6vw;
    height:50px;
}
#groupheadB{
    font-weight:700;
    color:#00000080;
    height:60px;
    margin:200px 6vw 0 6vw;
}
@media(max-width:720px){
    #groupheadB{
        margin:120px 6vw 0 8vw;
    }
}



#flexdiv{
    display:flex;
}
#grouphead2{
    font-weight:700;
    color:#00000080;
    margin:120px 0 -50px 60px;
    padding-right: 20px;
    overflow: hidden;
}
#grouphead3{
    font-weight:700;
    color:#00000080;
    margin:180px 0 -40px 60px;
    padding-right: 20px;
    overflow: hidden;
}
#plike{
    background-color: rgba(255 , 255 , 255 , 0);
    border:none;
    color:rgba(83 , 109 , 254 );
    font-weight: bold;
}
#plike2{
    background-color: rgba(255 , 255 , 255 , 0);
    border:none;
    margin:10px 6vw 0 6vw;
    color:rgba(83 , 109 , 254 );
    font-weight: bold;
}
#error1{
    color:#D14444;
    position:absolute;
    top:415px;
    display: none;
}
#error2{
    color:#D14444;
    position:absolute;
    top:545px;
    display: none;
    width:45.43vw;
}
#error3{
    color:#D14444;
    position:absolute;
    top:505px;
    display: none;
    width:45.43vw;
}
#error4{
    color:#D14444;
    position:absolute;
    top:505px;
    display: none;
    width:45.43vw;
}
#error5{
    color:#D14444;
    position:absolute;
    top:490px;
    display: none;
    width:45.43vw;
}
#error5A{
    color:#D14444;
    position:absolute;
    top:380px;
    display: none;
    width:45.43vw;
}
#error5B{
    color:#D14444;
    position:absolute;
    top:275px;
    display: none;
    width:45.43vw;
}
#sideimg{
    width:30vw;
    margin-left:10vw;
    margin-top:130px;
    z-index: -1;
    padding-right:60px;
}
#addmailform{
    display: flex;
    flex-direction: column;
    margin-left:60px;
    margin-top:80px;
}
#forminput3{
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:1px;
    border-radius:7px;
    width:45.43vw;
    height:50px;
    font-size: 1rem;
    font-weight: 600;
    padding-left:42px;
}
#forminput4{
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:1px;
    border-radius:7px;
    width:65.43vw;
    height:50px;
    font-size: 1rem;
    font-weight: 600;
    padding-left:42px;
}
#managingB{
    margin-top:-100px;
    margin-left:-50px;
    width:100%;
}
#flexkro{
    display:flex;
}
@media(max-width:545px){
    #plike2{
        margin:10px 6vw;
    }
}
/* @media(max-width:962px){
    #error1{
        top:334px;
    }
}
@media(max-width:871px){
    #sideimg{
        width:35vw;
    }
    #error3{
        top:534px;
    }
    #error4{
        top:534px;
    }
    #grouphead3{
        margin:150px 0 -40px 60px;
    }
}

@media(max-width:627px){
    #profiledetails{
        width:85%;
    }
    #sideimg{
        width:35vw;
        margin-left:8vw;
        margin-top:100px;
        z-index: -1;
        padding-right:40px;
    }
}
@media(max-width:527px){
    #profiledetails{
        width:90%;
        margin-left:25px;
    }
    #formbtn8{
        margin-left:25px;
    }
    #sideimg{
        margin-left:6vw;
    }
}
@media(max-width:502px){
    #profiledetails{
        width:90%;
        margin-left:15px;
        font-size:15px;
    }
    #formbtn8{
        margin-left:15px;
    }
    #profileimage{
        width:100px;
        margin-top:50px;
        margin-left:20px;
    }
    #prohead{
        margin-top:90px;
        font-weight: 600;
        margin-left:20px;
    }
}
@media(max-width:497px){
    #forminput3{
        width:80vw;
    }
    #error2{
        width:80vw;
    }
    #error3{
        width:80vw;
        top:490px;
    }
    #error4{
        width:80vw;
        top:490px;
    }
    #sideimg{
      display: none;
    }
    #managerD{
        margin-left:-4vw;
    }
    #grouphead3{
        margin:150px 0 -40px 60px;
    }
}
@media(max-width:400px){
    #managerD{
        margin-left:-6vw;
    }  
}
@media(max-width:388px){
    #profiledetails{
        margin-left:10px;
        width:95%;
    }
    #formbtn8{
        margin-left:10px;
    }
}
@media(max-width:379px){
    #grouphead3{
        margin:120px 0 -40px 60px;
    }
}
@media(max-width:364px){
    #profiledetails{
       font-size:12px;
    }
}
@media(max-width:346px){
    #managerD{
        margin-left:-8vw;
    }  
}
@media(max-width:310px){
    #managerD{
        margin-left:-10vw;
    }
    #managingB{
        margin-left:-60px;
    }  
} */