
*{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}
.bluediv {
  background-color: #536dfe80;
  /* width: 600; */
  height: 100vh;
  padding-top: 183px;
  padding-bottom: 183px;
  padding-left: 60px;
  padding-right:120px;
}
.bluedivimg {
  /* width: 67%; */
  /* padding-left:40px; */
  /* height: 90%; */
  width: 498px;
  height: 420px;
}
.bluecircleimg {
  position: absolute;
  top: 0px;
  right: 0px;
}
.bluecircleimg2 {
  position: absolute;
  top: 26px;
  right: 25px;
  background-color: #536dfe30;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
#flex{
    display:flex;
}
.form-heading{
    margin-top:140px;
    font-size: 50px;
}
#forms{
    padding-left:90px;
    /* padding-right:70px; */
}
#formflex{
display:flex;
flex-direction: column;
}
#formlabel{
    font-weight: 600;
    margin-top:12px;
}
#forminput{
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:5px;
    border-radius:7px;
    width:350px;
    height:40px;
    font-weight: 600;
    padding-left:40px;
}
#mailimg{
    width:24px;
    position:relative;
    top:-32px;
    left:10px;
}
#lockimg{
    width:24px;
    position:relative;
    top:-37px;
    left:10px;
}
#forgotlink a{
    font-weight: 700;
    margin-left:250px;
    text-decoration: none;
    color:black;
}
/* #forgotlink a{
    text-decoration:none;
} */
#formbtn{
    background-color: rgba(83 , 109 , 254 , 0.9);
    border:none;
    color:white;
    font-weight: 600;
    padding:5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#endtxt{
    margin-top:30px;
    font-weight: 600;
    font-size: 19px;
}
#endlink a{
    color:#3150FF;
    font-weight: 800;
    text-decoration: none;
}
#emailerr{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:300px;
    display: none;
}
#eyecloseimg{
    width:20px;
    position:relative;
    top:-54px;
    left:360px;
}


#forms2{
    padding-left:90px;
    padding-top:80px;    
}
#emailerr2{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:380px;
    display:none;
}
#formbtn2{
    background-color: rgba(83 , 109 , 254 , 0.9);
    border:none;
    color:white;
    font-weight: 600;
    padding:5px 20px;
    border-radius: 5px;
    margin-top:30px;
}


#passwrderr{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:510px;  
    width:410px;
    display: none;
}

#eyecloseimg2{
    width:20px;
    position:relative;
    top:-54px;
    left:360px;
}

#forms3{
    padding-left:90px;
    margin-top:-30px;
}
#passwrderr2{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:660px;   
    width:410px;
}
#passerr{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:525px;  
    width:410px;
}
#emailerr3{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:425px;
    display:none;
}

#passwrderr2{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:423px;  
    width:410px;
    display: none;
}
#mailicon{
    position:relative;
    top:-34px;
    left:-175px;
    height:24px;
}
#mailicon2{
    position:relative;
    top:-34px;
    left:-187px;
    height:24px;
}
#mailicon3{
    position :absolute;
    top:250px;
    height:24px;
    left:780px;
}
#mailicon4{
    position :absolute;
    top:330px;
    height:24px;
    left:780px;   
}
#mailicon5{
    position :absolute;
    top:410px;
    height:24px;
    left:780px;   
}
#mailicon6{
    position :absolute;
    top:490px;
    height:24px;
    left:780px;   
}
#eyecloseimg2{
    position:absolute;
    top:415px;
    left:1130px;
}
#eyecloseimg3{
    position:absolute;
    top:495px;
    left:1130px;
}
#passerr3{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:507px;
    display:none;
}
#passwrderr3{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:575px;
    width:400px;
    display:none;
}
