
*{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
#formtop{
    margin-top:7vh;
}
.bluediv {
  box-sizing: border-box;
  background-color: #536dfe80;
  width: 50%;
  height: 100vh;
  overflow-y: hidden;
}
.bluedivimg {
  width: 34.58vw;
  height: 58.89vh;
  margin:20.89vh 8.33vw 23.04vh 3.16vw;
}
.bluecircleimg {
  position: absolute;
  top: 0px;
  right: 0px;
}
.bluecircleimg2 {
  position: absolute;
  top: 26px;
  right: 25px;
  background-color: #536dfe30;
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
#flex{
    display:flex;
}
.form-heading{
    margin-top:17.632vh;
    font-size: 3.5rem;
    font-weight: 600;
    z-index:-1;
}
#forms{
    padding-left:7.25vw;
    width:50%;
}
#formflex{
display:flex;
flex-direction: column;
}
#formlabel{
    font-weight: 600;
    margin-top:1vh;
}
#formlabel2{
    font-weight: 600;
    margin-top:4vh;
}
#formlabel3{
    font-weight: 600;
    margin-top:-1vh;
}
#formlabel4{
    font-weight: 600;
    margin-top:-3vh;
}
#forminput{
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:0.129vh;
    border-radius:7px;
    width:35.43vw;
    height:7vh;
    font-size: 1rem;
    font-weight: 600;
    padding-left:5.5vh;
}
#forminput3{
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:0.129vh;
    /* margin-bottom:5vh; */
    border-radius:7px;
    width:35.43vw;
    height:7vh;
    font-size: 1rem;
    font-weight: 600;
    padding-left:5.5vh;
}
#formflex2{
    display:flex;
    flex-direction: column;
    height:400px;
    }
#forminput2{
    background-color: #D6D7DC50;
    border:0.5px solid black;
    margin-top:0.129vh;
    border-radius:7px;
    width:35.43vw;
    height:7vh;
    font-size: 1rem;
    font-weight: 600;
    padding-left:5.5vh;
}
#eyecloseimg{
    width:24px;
    margin-top:-60px;
    margin-left: 32.63vw;
    color:grey;
    height:20px;
}
#eyecloseimg2{
    position:relative;
    width:24px;
    top:90px;
    margin-left: 32.63vw;
    color:grey;
    height:20px;
}
#eyecloseimg3{
    position:relative;
    width:24px;
    top:40px;
    margin-left: 32.63vw;
    color:grey;
    height:20px;
}
#forgotlink{
    margin:6vh 0vw 0 0vw ;
}
#forgotlink a{
    font-weight: 700;
    text-decoration: none;
    color:black;
}
#formbtn{
    background-color: rgba(83 , 109 , 254 , 0.9);
    border:none;
    color:white;
    margin-top:6vh;
    font-weight: 600;
    width:35.43vw;
    height:7vh;
    border-radius: 5px;
    cursor: pointer;
}
#mailimg{
    width:24px;
    position:relative;
    top:-36px;
    left:10px;
}
#mailimg2{
    width:24px;
    position:relative;
    top:-74px;
    left:10px;
}


#lockimg{
    width:24px;
    position:relative;
    top:-37px;
    left:10px;
}

#endtxt{
    margin-top:30px;
    font-weight: 600;
    font-size: 19px;
}
#endlink a{
    color:#3150FF;
    font-weight: 800;
    text-decoration: none;
}
#emailerr{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:330px;
    display: none;
}

#forms2{
    padding-left:90px;
    padding-top:80px;    
}
#emailerr2{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:410px;
    display:none;
}
#formbtn2{
    /* background-color: rgba(83 , 109 , 254 , 0.9);
    border:none;
    color:white;
    font-weight: 600;
    padding:5px 20px;
    border-radius: 5px;
    margin-top:30px; */
    background-color: rgba(83 , 109 , 254 , 0.9);
    border:none;
    color:white;
    margin-top:2vh;
    font-weight: 600;
    width:35.43vw;
    height:7vh;
    border-radius: 5px;
    cursor: pointer;
}


#passwrderr{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:380px;  
    /* width:520px; */
    display: none;
}

/* #eyecloseimg2{
    width:20px;
    position:relative;
    top:-54px;
    left:360px;
} */

#forms3{
    padding-left:90px;
    margin-top:-40px;
}
/* #passwrderr2{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:660px;   
    width:410px;
} */
#passerr{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:525px;  
    width:410px;
}
#emailerr3{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:470px;
    display:none;
}

#passwrderr2{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:530px;  
    width:410px;
    display: none;
}
/* #mailicon{
    position:relative;
    top:-34px;
    left:-175px;
    height:24px;
    z-index: 1;
}
#mailicon2{
    position:relative;
    top:-34px;
    left:-187px;
    height:24px;
}
#mailicon3{
    position :absolute;
    top:250px;
    height:24px;
    left:780px;
}
#mailicon4{
    position :absolute;
    top:330px;
    height:24px;
    left:780px;   
}
#mailicon5{
    position :absolute;
    top:410px;
    height:24px;
    left:780px;   
}
#mailicon6{
    position :absolute;
    top:490px;
    height:24px;
    left:780px;   
}
#eyecloseimg2{
    position:absolute;
    top:415px;
    left:1130px;
}
#eyecloseimg3{
    position:absolute;
    top:495px;
    left:1130px;
} */
#passerr3{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:547px;
    display:none;
}
#passwrderr3{
    color:#D14444;
    font-weight: 600;
    position:absolute;
    top:645px;
    padding-right: 20px;
    display:none;
}
#loader{
    height:100vh ;
    width:100vw;
    text-align: center;
    background-color: rgba(255 , 255 , 255 ,0.5);
    position: absolute;
    z-index: 2;
}
#spinner{
    position: relative;
    top:45%;
}
@media (max-width:1052px){
    #passwrderr{
        top:450px;  
    }  
    #passwrderr2{
        top:600px;  
    }  
}